*{
    font-family: 'Inconsolata';
    color: rgb(49, 49, 49);
    margin:0%;
}

nav ul{
    width: 100dw;
    height: 50px;
    background-color: #FFae78;
    padding-top: -9px;
    
    
}
nav ul li{
    display: inline-block;
    padding-left: 3%;
    font-size: large;
    padding-top: 15px;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.main{
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 20px;
}
.main p{
    font-size: large;
    padding-right: 600px;
}
.random{
    padding-top: 20px;
    padding-left: 3.5%;
}

.random a{
    color: black;
    font-size: 20px;
    
}
.patreon{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.blog-main p{
    padding-bottom: 10px;
    font-size: large;
    padding-right: 600px;
}
.blog-main{
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 20px;
}
.reading-time p{
    color: rgb(180, 180, 180);
    font-size: medium;
}
.notes{
    color: rgb(180, 180, 180);
}
.writer p,a{
    color: rgb(180, 180, 180);
}
.writer a:hover{
    color:#FFae78 ;

}
.footer h2{
    color:  #FFae78;
    transition: .3s ease;

}
@media screen and (max-width:1400px){
    .main p{
        padding-right: 0px;
    }
    .blog-main p{
        padding-right: 0px;
    }

}
