
.card-blog-container a{
    color: white;
}
.card-blog-container::-webkit-scrollbar {
    width: 15px;
    height: 10px;
    
  }
  
  .card-blog-container::-webkit-scrollbar-track {
    background: #ededed;
    
  }
  .card-blog-container::-webkit-scrollbar-thumb {
    background: #80738f;
    border-radius: 10px;
  }
  .card-blog-container::-webkit-scrollbar-thumb:hover {
    background: #685e74;
  }
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.card-blog-container {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    background-color: #ededed;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-blog {
  min-width:300px;
    height: 350px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
    box-shadow: -1rem 0 2.5rem #474747;
}
.card-blog:nth-child(3n+1){
    background-color: #ac9bc0;
    
}
.card-blog:nth-child(3n+2){
    background-color: #e4c142;
    
}
.card-blog:nth-child(3n+3){
    background-color: #58ba91;
 
}



.date {
    color: #ededed;
    margin-left: .5rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem;
    color: #fcf9ff;
}

.tags div {
    font-size: 9px;
    font-weight: 700;
    padding: 4px 10px;
    border: 1.5px solid #60546e;
    border-radius: 2rem;
    margin-right:.5rem;
}

.card-blog .category-title {
    font-size: 14px;
    color: #545454;
    margin-bottom: 1rem;
  
}

.card-blog .article-title {
    font-size: 20px;
    font-weight: 700;
    color:2;
}

.card-blog .article-header {
    margin-bottom: auto;
}

.card-blog .author {
    margin-top: 6.5rem;
    display: grid;
    grid-template-columns: 75px 1fr;
}

.author .info .caption {
    color: #545454;
}

.card-blog:not(:first-child) {
    margin-left: -130px;
}

.card-blog:hover {
    transform: translateY(-1rem);
}

.card-blog:hover~.card-blog{
    transform: translateX(130px);
}
@media screen and (max-width: 600px) {
    .card-blog-container{
        justify-content: left;
    }
    
}