.crowdsource-text{
    background-color:  #545e65;
    overflow: hidden;
    color: white;
    position: relative;
    
}
.mobile-container{
    display: none;
    position: relative;
}
.blog-container{
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.blog-parent{
    display: flex;
    flex-direction: row;
    gap: 4vw; 
    align-items: center;
    justify-content: center;
    color: white;
    font-size: calc(.8vw + 1vh);
}
.neurons img{
    height: 82vh;
}
.item-container{
    width: 80%;
    flex: left;
}
.item{
    padding-bottom: 4vh;
    position: relative;
 }
.item1{
    top: 4vh;
    position: relative;
}
@media screen and (max-width: 700px){
    .blog-container{
        display: none;
    }
    .mobile-container{
        display: initial;
        padding: 3em;
        position: inherit;
    }
    .mobile-parent{
        display: flex;
        flex-direction: row;
        gap: 4vw; 
        margin:0  2em ;
        color: white;
        font-size: calc(1.1vw + 1.1vh);
    }
    .mobile-neurons img{
        height: 100vh;
    }
    .mobile-item-container{
        width: 80%;
        flex: left;
    }
    .item{
        padding-bottom: 6vh;
        position: relative;
     }
}
