.dot-general1{
    background: #58ba91bd;
    border-radius: 50%;
    display: flex;
    position: absolute;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    z-index: 10000;
}
.dot-general2{
    background: #58ba91d3;
    border-radius: 50%;
    display: flex;
    position: absolute;
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    z-index: 10000;
}
.dot-button{
    background: #58ba91d3;
    border-radius: 50%;
    display: flex;
    position: absolute;
    -webkit-animation: dot-breathing 3s ease-out infinite normal;
    animation: dot-breathing 3s ease-out infinite normal;
    z-index: 10000;
}
.dot-general3{
    background: #58ba91d3;
    border-radius: 50%;
    display: flex;
    position: absolute;
    -webkit-animation: square 60s infinite;
    animation:         square 60s infinite;
    
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    
}

@-webkit-keyframes square {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-500px); }
  }
  @keyframes square {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-700px); }
  }
.dot1{
    width: 10px;
    height: 10px;
    left: 19vw;
    bottom: 20vh;
}
.dot2{
    width: 4px;
    height: 4px;
    left: 17vw;
    bottom: 23vh;
}
.dot3{
    width: 5px;
    height: 5px;
    left: 50vw;
    bottom: 60vh;
}
.dot4{
    width: 10px;
    height: 10px;
    left: 55vw;
    bottom: 66vh;
    z-index: 10000;
}
.dot5{
    width: 5px;
    height: 5px;
    left: 28vw;
    bottom: 30vh;
}
.dot6{
    width: 7px;
    height: 7px;
    left: 45vw;
    bottom: 10vh;
}
.dot7{
    width: 9px;
    height: 9px;
    left: 80vw;
    bottom: 70vh;
}
.dot8{
    width: 6px;
    height: 6px;
    left: 86vw;
    bottom: 42vh;
}
.dot9{
    width: 8px;
    height: 8px;
    left:5vw;
    bottom: 10vh;
    animation-delay: 2s;
}
.dot10{
    width: 4px;
    height: 4px;
    margin: 1.3em 0em 0em 12em; 

}
.dot11{
    width: 6px;
    height: 6px;
    margin: -1.5em 5em 5em 11.35em; 
}
.dot12{
    width: 4px;
    height: 4px;
    margin: -1.5em 5em 5em 11.35em; 
}
.dot13{
    width: 6px;
    height: 6px;
    margin: 2.3em 10em 10em -5.15em; 

}
@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(.4);
      -ms-transform: scale(.4);
      transform: scale(.4);
    }
  }
  @-webkit-keyframes dot-breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes dot-breathing {
    0% {
      -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(.4);
      -ms-transform: scale(.4);
      transform: scale(.4);
    }
  }