.wrap-email{
   height: max-content;
   width: 100%; 
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
   justify-content: center;
   padding: 2em 0;
   font-size: calc(1.3vw + 1vh);
   color: #545e65;
   text-align: center;
}
.wrap-email button{
    padding: .5em 2.5em;
    margin-left: 1em;
    background: #e4c142;
    border-radius: 4px;
    font-size: calc(.7vw + 1vh);
    border-color: transparent;
    color: #545e65;
    font-weight: bold;

}


.wrap-email p{
    padding-bottom: 1em;
}
.wrap-email input{
    border: 3px solid #545e65;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: calc(.7vw + 1vh);
}
.wrap-email::placeholder{
    color: #545e65;
    font-size: calc(1.3vw + 1vh) ;
}
.wrap-email h2{
    color: #545e65;
    padding-bottom: 1em;
    text-shadow: 2px 2px #76797a25;
}
.email{
    position: relative;
    width: max-content;
    
}
