.nlp-landing-container{
    font-size: calc(1.3vw + 1vh);
    background: url(./aixlanding.webp);
    background-size: cover;
    width: 100%;
    height: 80vh;   
    max-height: 1200px;
    position: relative;
    border-radius: 0 0 40px;
    box-shadow: 8px 0 5px -6px  black;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #ac9bc0;
    color: #ededed;
}

.nlp-landing-wrapper{
    display: grid;
    grid-template-rows: repeat(5, 10vh);
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    position: relative;
    padding: 3.2em;
    max-width: 1900px;
}
.nlp-landing-container h1{
    font-size: calc(1.9vw + 2.6vh) ;
    margin-bottom: 1em;
    grid-row: 1;
    grid-column: 1/8;
}
.nlp-landing-container p{
    grid-row:3/4;
    grid-column: 1/8;
    align-self: center;
}
.nlp-landing-container a button{
    padding: 1em 7em 3em 5.5em; 
    font-size: calc(.5vw + 1.1vh);
    
}
.nlp-landing-container a{
    grid-row: 6;
    grid-column: 1/8;
}
.nlp-landing-container hr{
    grid-row: 2;
    grid-column: 1/8;
    width: 35vw;
    border-color: #ededed;
}
.nlp-banner-wrapper{
    position: relative;
    grid-column: 1/8;
    grid-row: 1/6;
    font-size: 1em;
    justify-self: center;
}
@media screen and (max-width: 1367px){
    .nlp-banner-wrapper {
        grid-row: 2/6;
        
    }
    
}
@media screen and (max-width: 1024px){
    .nlp-landing-container{
        height: 55vh;
    }
}
/* Phone */
@media screen and (max-width: 600px){
    .nlp-banner-wrapper{
        grid-column: 2/8; 
        grid-row: 1/8;
    }
    .nlp-banner-wrapper p{
        text-align:left;
        font-size:  calc(1.3vw + 1.5vh);
    }
    .nlp-banner-wrapper button{
        font-size: calc(.5vw + 1.25vh);
    }
    button{
        left:6vw;
        position: relative;

    }
    .nlp-banner-wrapper hr{
        width: 100%;
    }
    
    .nlp-landing-container{
        height:70vh;
    }
}