.timeline-container {
  height: 500px;
  overflow-y: auto;
}
.timeline-container::-webkit-scrollbar {
  width: 5px;
}
.timeline-container small{
  color: #34435e;
}
.timeline a{
	color: #d6b53d;
}
.timeline a:hover{
	color: #ecc73f;
	text-decoration: underline;
}
.timeline-container::-webkit-scrollbar-track {
  background: #ededed;
  
}
.timeline-container::-webkit-scrollbar-thumb {
  background: #80738f;
  border-radius: 10px;
  height: 5px;
}
.timeline-container::-webkit-scrollbar-thumb:hover {
  background: #685e74;
}
.timeline  {
	 min-width: 400px;
	 max-width: 500px;
	 margin: auto;
   padding-top: 2em;
}
.timeline h2{
  color: #545454;
  font-size: 30px;
  text-align: center;
}
.timeline p {
	 font-size: 1em;
	 line-height: 1.75em;
	 border-top: 3px solid;
	 border-bottom: none;
	 border-image: linear-gradient(to right, #ac9bc0 0%,#fff2c3, #ac9bc0 100%);
	 border-image-slice:1;
	 border-width: 3px;
	 margin: 0;
	 padding: 40px;
     padding-top: 20px;
	 counter-increment: section;
	 position: relative;
	 color: #34435e;
}

.timeline p:before {
	 content: "Q" counter(section);
	 position: absolute;
	 border-radius: 50%;
	 padding: 10px;
	 height: 1.25em;
	 width: 1.25em;
	 background-color: #d6b53dc9;
	 text-align: center;
	 line-height: 1.25em;
	 color: #545454;
	 font-size: 1em;
     font-weight: 700;
}
.timeline p:nth-child(9):before {
	content:"🚀";
	font-size: 30px;
}
.timeline p:nth-child(8):before {
	content:"🌍";
	font-size: 25px;
}


 .timeline p:nth-child(odd) {
	border-right: 3px solid;
	padding-left: 0;
	border-left: none;
    text-align: right;
}
 .timeline p:nth-child(odd):before {
	left: 100%;
	margin-left: -20px;
	border-left: none;

}
 .timeline p:nth-child(even) {
	border-left: 3px solid;
	padding-right: 0;
	border-right: none;
}
 .timeline p:nth-child(even):before {
	right: 100%;
	margin-right: -20px;
	border-left: none;

}
.timeline p:nth-child(6){
	counter-reset: section;
}



.timeline  p:first-child {
	 border-top: 0;
	 border-top-right-radius: 0;
	 border-top-left-radius: 0;
}
.timeline p:last-child {
	 border-bottom-right-radius: 0;
	 border-bottom-left-radius: 0;
}
 @media screen and (max-width:600px) {
	 .timeline-container{
		 overflow-x: hidden;
		
	 }
	 .timeline{
		 padding:0 3em;
	 }
 }
