.button{
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-top: 1.5em;
    z-index: 100;
} 
a button {
    text-decoration: none;
    color: #545e65;
    cursor: pointer;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 1em 5.5em 6em 6em;
}
hr{
    height: .1px;
    width: 300px;
    border: 1.3px solid #8e8e8e;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 2em;
}
