.agent-neurons-container{
    background-color:#ededed;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}
.bg-wrapper{
    grid-column: 1/10;
    grid-row: 1/10;
    
}
.agent-neurons-container img{
    height: 100%;
    width: 100%;
}
.agent-background{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 90%;
    position: relative;
}
.agent-text{
    display: grid;
    grid-row: 1/10;
    grid-column: 1/10;
    grid-template-columns: repeat(30,3.2vw);
    grid-template-rows: repeat(20,.5fr);
    z-index: 100;
   font-size: calc(1.3vw + 1vh);
   color: #545e65;
}
.agent-text p:nth-child(1){
    grid-row: 2/3;
    grid-column: 2/9;
    align-self: flex-end;
    text-align: right;
}
.agent-text p:nth-child(2){
    grid-row: 5/6;
    grid-column: 4/12;
    text-align: right;
}
.mobile-agent-text{
    display: none;
}
.agent-text h2:nth-child(3){
    grid-column: 23/30;
    grid-row: 5/8;
    padding-left:-1em;
    position: relative;
}
.agent-text p:nth-child(4){
    grid-column: 5/12;
    grid-row: 9/15;
    align-self: flex-start;
}
.agent-text p:nth-child(5){
    grid-column: 21/30;
    grid-row: 10/15;
    align-self: flex-start;
    padding-left: 1em;
}
.agent-text p:nth-child(6){
    grid-column: 2/10;
    grid-row: 14/20;
    align-self: flex-start;
    text-align: center;
}
.agent-text p:nth-child(7){
    grid-column: 24/30;
    grid-row: 17/25;
    align-self: flex-start;
    text-align: center;
}

@media screen and (max-width:1024px){
    .agent-text{
        grid-template-columns: repeat(15,3.2vw);
        grid-template-rows: repeat(10,.5fr);
    
    }
    .agent-text p:nth-child(1){
        display: none;
    }
    .agent-text p:nth-child(2){
        display: none;
    }
    .agent-text h2:nth-child(3){
        grid-column: 25/30;
        grid-row: 3/6;
    }
    .agent-text p:nth-child(4){
        grid-column:3/15;
        grid-row: 3/6;
        align-self: center;
        text-align: right;
    }
    .agent-text p:nth-child(5){
        grid-column: 20/29;
        grid-row: 6/7;
        align-self: center;
    }
    .agent-text p:nth-child(6){
        grid-column: 2/15;
        grid-row: 7/9;
        align-self: center;
        text-align: left;
    }
    .agent-text p:nth-child(7){
        grid-column: 15/24;
        grid-row: 10/20;
        align-self: top;
        text-align: left;
    }
}
@media screen and (max-width: 500px){
    .agent-text{
        font-size: calc(1.3vw + .7vh);
    }
}
