*{
    margin: 0;
    padding: 0;
}
.create-container{
    display: flex;
    flex-direction: row;
    height: max-content;
    position: relative;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ededed;
    z-index: 100;
    gap: 50px;
    margin-top: -10px;
}
.column{
    display: inline;
}
.column1{
    width: 40%;
    text-align: left;
}
.column2{
    width: 60%;
    text-align: right;
    padding-top: 10px;
    justify-content: right;
}
.column h1{
    font-size: 50px;
    color: #545e65;
}
.column p{
    color: #5c656c;
    font-size: 16px;
}
.column2 button{
    background: #58ba91;
    margin-top: 5em;
    margin-right: -300px;
}
.create-container hr{
    width: 300px;
    float: right;
    border: 2.4px solid #3b3b3b;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
@media screen and (max-width: 765px){
    .create-container{
        flex-direction: column;
    }
    .column2{
        text-align: left;
    }
    .create-container hr{
        float: left;
    }
    .column2 button{
       margin-right: 0;
    }
    .column{
        width: 100%;
    }
}
@media screen and (max-width: 420px){
    .create-container hr{
        width: 200px;
    }
    .create-container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .column h1{
        font-size: 40px;
    }
}