.deneme-contianer{
    display: flex;
    position: relative;
    height: max-content;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    text-align: center;
    font-size: calc(1.3vw + 1vh);
}
.deneme-wrapper {
    color: rgb(46, 46, 46);
    padding: .5em;
}
.email-button button{
    color: rgb(48, 48, 48);
    font-size:  calc(.7vw + 1vh);
    padding: .9em 6em 3em 4.5em;    
}
.email-button {
    position: relative;
    justify-content: center;
    display: flex;
    padding-top: 1em;
}
.deneme-wrapper p{
    padding-top: 1em;
}