.footer{
    height: 150px;
    background-color: #b1b1b2;
}
.footer-container{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 50px;
    padding-right:50px ;
    
}
.footer-logo img{
    height: 50px;
    align-items: left;
    display: flex;
}
.website-rights p{
    font-size: 15px ;

}
.footer-column{
    width: 33.333%;
}
.social-icon-wrapper{
    flex-direction: row;
    
}
.social-icons img{
    height: 30px;
    padding-left: 10px;
    display: inline-flex;
    align-items: right;
}
@media screen and (max-width:600px){
    .footer-container{
        flex-direction: column;
        padding-right:0 ;
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }
    .footer-column{
        padding-bottom: 20px;
        display: flex;
        float: center;
    }
    .footer{
        height: max-content;

    }
    .footer-logo img{
        align-items: center;
    }
    .social-icons img{
        align-items: center;
    }
    .website-rights {
      padding-left: 2.7em;
    }
}