*{
    margin: 0;
   padding: 0;
}


.desktop-nav ul {
    display: flex;
    height: 3em;
    z-index: 100;
    position: relative;
}
.desktop-nav ul li{ 
    display: inline-flex;
    font-size: calc(1vw + .2vh);
    padding-left: .1em;
    padding-right: .1em;
    list-style: none;
    width: 25%;
    justify-content: center;
    padding-top: .6em;
    min-height: 4vh;
}
.navbar-container{
    display: flex;
    flex-direction: column ;
    width: 100%;
}


.desktop-nav li img{
    height: 2em;
}
@media screen and (max-width: 1024px){
    .desktop-nav ul li{
        font-size: calc(1vw + .7vh);
        padding-top: .5em ;
        padding-left: .5em;
    }
}
@media screen and (max-width: 420px){
    .desktop-nav ul li{
        padding: .5em;
        font-size: calc(1vw + 1vh);
    }
    
    .desktop-nav li img{
        height: 1.8em;
        padding-top: .8em;
    }
}
/* @media screen and (max-width: 768px) and (max-height: 1024px){
    .desktop-nav ul li{
        padding-top: .5em ;
        padding-left: .5em;
        
    }
} */
/*  */