.link-container{
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
}
.link-wrapper{
    display: flex;
    flex-direction: row;
    color: white;
    padding:  .5em 7vw;
    max-width: 1900px;
    position: relative;
    font-size: calc(.8vw + 1.1vh);
    width: 100%;
    height: 100%;
    align-items: center;
}
.nlp-link-container{
    background-color:#d6b53de1;
}
.data-link-container{
    background-color: #ac9bc0;
}
.agent-link-container{
    background-color: #58ba91e8;
    
}
.link-container img{
    height: calc(2vw + 1.1vh);
    width: calc(2vw + 1.1vh);
    float: right;
}
.link-container .link-img{
    float: right;
    width: 50%;
}
.link-wrapper h2{
    width: 50%;
}
a  {
    text-decoration: none;
}